/*
@font-face {
    font-family: 'MathJax_Main';
    src: url('eot/MathJax_Main-Regular.eot');
    src: url('eot/MathJax_Main-Regular.eot?#iefix') format('embedded-opentype'),
         url('svg/MathJax_Main-Regular.svg#MathJax_Main') format('svg'),
         url('woff/MathJax_Main-Regular.woff') format('woff'),
         url('woff/MathJax_Main-Regular.woff') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'MathJax_Math';
    src: url('eot/MathJax_Math-Italic.eot');
    src: url('eot/MathJax_Math-Italic.eot?#iefix') format('embedded-opentype'),
         url('svg/MathJax_Math-Italic.svg#MathJax_Math') format('svg'),
         url('woff/MathJax_Math-Italic.woff') format('woff'),
         url('woff/MathJax_Math-Italic.woff') format('truetype');
    font-style: italic;
}
*/
@font-face {
    font-family: 'MathJax_Main';
    src: url('eot/MathJax_Main-Regular.eot'); /* IE9 Compat Modes */
    src: url('eot/MathJax_Main-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('woff/MathJax_Main-Regular.woff') format('woff'), /* Modern Browsers */
         url('svg/MathJax_Main-Regular.svg#MathJax_Main') format('svg');
}

@font-face {
    font-family: 'MathJax_Math';
    src: url('eot/MathJax_Math-Italic.eot'); /* IE9 Compat Modes */
    src: url('eot/MathJax_Math-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('woff/MathJax_Math-Italic.woff') format('woff'), /* Modern Browsers */
         url('svg/MathJax_Math-Italic.svg#MathJax_Math') format('svg');
    font-style: italic;
}